  <p>BandWagon © 2019 </p>
  <a href="About Us"> About Us </a>
<<<<<<< HEAD
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javscript" src="/scripts/script.js"></script>
=======
  
</footer>
>>>>>>> 4a58ef470620030284f03f787feae84348c4ee4b
