<footer>
  <p>BandWagon © 2019 </p>
  <a href="About Us"> About Us </a>
  <script src=“https://code.jquery.com/jquery-3.3.1.min.js”></script>
  <script type="text/javscript" src="/scripts/script.js"></script>
</footer>