  <nav>
    <a href="/" id="home"><img src="/images/search.png" class ="icon" alt="New Search" title="New Search"></a>
    <a href="events/saved"><img src="/images/mywagon.png" class="icon" alt="My Bandwagon" title="My Bandwagon"></a>
  </nav>
