  <nav>
    <a href="/" id="home"><img src="/images/search.png" class ="icon" alt="New Search" title="New Search"></a>
    <a href="../views/pages/events/saved" id="bandwagon"><img src="/images/mywagon.png" class="icon" alt="My Bandwagon" title="My Bandwagon"></a>
  </nav>
