<header>
  <nav>
    //home page with new search
    <a href="/" id="home">Placehoder for home</a>
    //My events page icon or link
    <a href="/pages/events/show">Placeholder for Saved Events</a>
  </nav>
</header>