  <nav>
    <div>
      <span id=search>
        <p>Search</p>
        <a href="/" id="home"><img src="/images/search.png" class ="icon" alt="New Search" title="New Search"></a>
      </span>
      <span id="bandwagon">
        <a href="/saved" ><img src="/images/mywagon.png" class="icon" alt="My Bandwagon" title="My Bandwagon"></a>
        <p>My Events</p>
    </span>
    </div>
  </nav>
