<!DOCTYPE html>
<html lang="en" id="index">
  <head>
      <%- include('partials/head') %>
  </head>
  <body>
      <header>
          <%- include('partials/header') %>
      </header>
      <video autoplay muted loop id="vid"><source src="/images/CROWD_JUMPS_LIGHTS_PULSE.mov"  type="video/mp4"></video>
      <main id="indexmain">
            <h2>B A N D W A G O N</h2>
            <div id="band-search">
              <form id="search-form" action="/search-results" method="post">
                  <input type="text" name="search" placeholder="Search a Band" required>
                  <button type="submit">Find Music!</button>
              </form>
          </div>
      </main>
      <footer>
        <%- include('partials/footer') %>
        <!-- <script>
            const vid= document.getElementById("vid");
            vid.playbackRate =.75;
        </script> -->
      </footer>
  </body>
</html>