<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>

        <div id="band-search">
            <form action="/search-results" method="post">
                <input type="text" name="search" placeholder="Enter a Band" required>
                <button type="submit">Find Music!</button>
            </form>
        </div>

    </main>
    
        <%- include('partials/footer') %>

    
</body>
</html>