<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
      <header>
          <%- include('../partials/header') %>
          <p>Current Events: <%= (placeholder).length %></p>
      </header>
      <main>
        <h1>My Bandwagon</h1>
        <!-- Placeholder for a copy of the form that cory is making in show.ejs -->
      </main>
      <footer>
        <%- include('../partials/footer') %>
      </footer>
  </body>
</html>