<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head') %>
  </head>
  <body>
      
      <main>
        <h1>My Bandwagon <%= header %></h1>
        
        <%- include('show') %>
        
      </main>
      <footer>
        <%- include('../../partials/footer') %>
      </footer>
  </body>
</html>