<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body id="background-band">
      <header>
          <%- include('../partials/header') %>
      </header>
      
      <main  >
        <div class="small-head" > 
          <img src="/images/aaron.png" class="member" id="Aaron">
          <p class="introduction" id="aaron-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur debitis magnam in velit incidunt commodi eligendi at quos, recusandae perferendis quaerat odio labore. Aut corporis suscipit beatae ut at hic.</p>
        </div>
        <div class="small-head">
          <img src="/images/chris.png"  class="member"  id="Chris">
          <p class="introduction" id="chris-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti explicabo consequatur aliquid eveniet incidunt iure nesciunt pariatur exercitationem consectetur rem mollitia, nam eaque unde facilis autem obcaecati dolore veniam fuga.</p>
        </div>
        <div class="small-head" >
          <img src="/images/cory.png" class="member" id="Cory">
          <p class="introduction" id="cory-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, sunt. Ea enim quidem quod corrupti repudiandae recusandae sit. Illum accusamus amet ducimus nihil deleniti culpa rem veritatis perferendis voluptas suscipit.
          </p>
        </div>
        <div class="small-head" >
          <img src="/images/vanessa.png" class="member" id="Vanessa">  
          <p class="introduction" id="vanessa-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere possimus unde necessitatibus sunt ut. Illum quis, voluptatem ipsa nam soluta esse a aliquam, dolor at laudantium aperiam! Molestiae, debitis asperiores.</p>
        </div>
         
      </main>
      <!-- <footer>
        <%- include('../partials/footer') %>
      </footer> -->
  </body>
</html>