<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../partials/head') %>
    </head>
  <body>
    <header>
      <%- include('../partials/header')%>
    </header>
    <main>
      <h1>Meet the band</h1>

    </main>
    <footer>
      <%- include(../partials/)
    </footer>
  </body>
</html>