<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
      <h1> Your bandwagon broke an Axel looking for your band. Try looking for another.</p>
      <img src="images/brokenwagon.jpg" id="error">

    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>