*{
    font-family: 'Fjalla One', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    min-height: 100vh;
    background-color: #564F6F;
}

header{
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: black;
}

footer{
    display: flex;
    width: 100%;
    height: 2rem;
    position: relative;
    bottom: 0px;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}