/*-------HEADER-------*/
.icon{
  height:4vh;
  filter: invert(100%);
  margin: auto .1;
}
nav{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: .2em;
}

/*-------FOOTER-------*/

footer p{
  font-size:2.5vh;
}

footer a{
  font-size:2.5vh;
}

/*-------INDEX PAGE-------*/

#index{
  height: 100vh;
  overflow: hidden;
}
input[type="text"] {
    text-align:center;
}

h2{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  text-shadow: .05em .05em #222;
  font-size: 3em;
  text-align: center;
  margin-top: 17vh;
}

#vid{
  filter: invert(10%);
  object-fit: cover;
  align-self: center;
  position:absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  top: 0;
  margin-bottom: 0;
}


button:hover{
  background-color: #564F6F;
}

#search-form{
    width: 90vw;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form > * {
    margin: 4vh;
    height: 2.5em;
    font-size: 1.250em;
    border-radius: 3.125em;
}

#search-form button{
  width: 22.5vw;
  min-width: 9.375em;
}

#search-form input{
  width: 45vw;
  min-width: 15em;
}


/*------- ERROR PAGE --------*/


h1{
  font-size: 1.5rem;
  width: 70vw;
  margin: 1rem auto;
  text-align: center;
}

#error{
  width: 100%;
  margin: 3em auto;
}


/*------SEARCHES/SHOW PAGE------*/
#bands-results{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em auto;
  width: 87vw;
  max-width: 22em;  
  background-color: #9cb8b3;
  box-shadow: .15em .15em .5em #222;
  padding: .75em;
}

#band-results > *{
  margin: .5em;
}

#bands-results p{
  width: 90%;
  overflow: scroll;
  max-height: 15em;
  margin: .5em;
  padding: .5em;
  background-color: #E7E3D4;
  box-shadow: .15em .15em .5em #222;
}

#bands-results button{
  width: 25vw;
  height: 2.5em;
  font-size: 1em;
  min-width: 9em;
}

h3{
  font-size: 2em;
  margin: .5em auto;
}

.events-list{
  display: none;
  flex-direction: column;
  width: 100%;
}

.events-list > * {
  margin: 5px;
}

iframe{
  width:90%;
  height:55vw;
  margin-bottom: 1em;
}


/*------EVENTS/SHOW PAGE--------*/

#band-events{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em auto .25em auto;
  /* background-color: grey;
  border: solid 3px red; */
  overflow: scroll;
}

#band-events img {
  width: 87vw;
  display: block;
  margin: 1em auto;
  box-shadow: .15em .15em .5em #222;
}

#single-event{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em auto;
  width: 87vw;
  max-width: 22em;  
  background-color: #9cb8b3;
  box-shadow: .15em .15em .5em #222;
  padding: .75em;
}

#single-event > * {
  margin: .5em auto;
  font-size: .8em;
}

#single-event button{
  padding: .5em 1em;
  max-width:30vw;
}
